<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/main.css">
    <title>Document</title>
</head>

<body>
    <div class="page-wrapper">
        <!-- header -->
        <header class="page-header">
            <nav class="main-nav">
                <ul class="main-nav__list">
                    <li class="main-nav__item"><a href="" class="main-nav__link">Home</a></li>
                    <li class="main-nav__item"><a href="" class="main-nav__link">Today Quote</a></li>
                    <li class="main-nav__item"><a href="" class="main-nav__link">Stranger's Message</a></li>
                    <li class="main-nav__item"><a href="" class="main-nav__link">Send Message</a></li>
                </ul>
            </nav>            
        </header>
        <!-- main content -->
        <main class="main-content"></main>
        <!-- footer -->
        <footer class="page-footer">
            <h2 class="page-footer__title">Today inspiration</h2>
        </footer>
    </div>
</body>

</html>