.choose-feeling {
    margin-top: 12rem;
    margin-left: 10.67%;
    display: inline-block;
    text-align: center;
}

.choose-feeling__title {
    color: #ffffff;
    font-size: 3.1vw;
    line-height: 5.6rem;
    margin-bottom: 3rem;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, .9);
}

.choose-feeling__desc {
    font-family: 'avenir-oblique', sans-serif;
    font-size: 2.325vw;
    line-height: 4.2rem;
    display: inline-block;
    text-shadow: 2px 3px 6px rgba(0, 0, 0, .7);
    position: relative;

}

.choose-feeling__desc::after {
    content: '';
    position: absolute;
    bottom: -0.5rem;  
    left: 0; 
    width: 100%;
    height: 1.5px;
    background-color: rgba(255, 255, 255, .8);
    transform-origin: center center;
    transform: scale(0, 1);
    transition: transform .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.choose-feeling__desc:hover:after {
    transform: scale(1, 1);
}

.choose-feeling__desc:active {
    transform: translateY(1px);
}

.emoticons {
    width: 38vw;
    padding: .7vw .5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(38, 96, 100, 0.36);
    margin-bottom: 3rem;
    position: relative;
}

.emoticons__item {
    transition: all .25s cubic-bezier(0.39, 0.575, 0.565, 1);
    flex: 1;
    display: flex;
    justify-content: center;
}

.emoticons__link {
    display: flex;
    justify-content: center;
}

.emoticons__link>svg {
    width: 80%;
    height: 100%;
    transition: transform .2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.emoticons__link>svg:active {
    transform: translateY(2px);
}

.emo {
    transition: all .25s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.emo-top-center {
    transform-origin: top center;
}

.emo-left-center {
    transform-origin: left center;
}

.emo-right-center {
    transform-origin: right center;
}

.emo-center {
    transform-origin: center center;
}


/*----------  laugh  ----------*/

.emoticons__item--laugh svg:hover .emo-laugh-mouth {
    transform: scale(1, 1.3) translateY(-10px);

}

.emoticons__item--laugh svg:hover .emo-laugh-eye--right {
    transform: rotate(-5deg) translateY(-5px);
}

.emoticons__item--laugh svg:hover .emo-laugh-eye--left {
    transform: rotate(5deg) translateY(-5px);
}

/*----------  smile  ----------*/

.emoticons__item--smile svg:hover .emo-smile-eye--left {
    transform: scale(1.5) translateX(3px);
}

.emoticons__item--smile svg:hover .emo-smile-eye--right {
    transform: scale(1.5) translateX(-3px);
}

.emoticons__item--smile svg:hover .emo-smile-mouth {
    transform: scale(1.1, 1.2) translateY(-5px);
}


/*----------  crying  ----------*/

.emoticons__item--crying svg:hover .emo-crying-eye {
    transform: scale(1, .8);
}

.emoticons__item--crying svg:hover .emo-crying-mouth {
    transform: scale(1.1, 1.2) translateY(-3px);
}

.emoticons__item--crying svg:hover .emo-crying-brow--left {
    transform: rotate(5deg) translateY(5px);
}

.emoticons__item--crying svg:hover .emo-crying-brow--right {
    transform: rotate(-5deg) translateY(5px);
}

/*----------  meh  ----------*/

.emoticons__item--meh svg:hover .emo-meh-eye {
    transform: scaleY(.7) translateY(-2px);
}

.emoticons__item--meh svg:hover .emo-meh-mouth {
    transform: scaleX(.7) translateY(5px);
}



/*----------  bored  ----------*/

.emoticons__item--bored svg:hover .emo-bored-eye {
    transform: scaleY(.7) translateY(-2px);
}

.emoticons__item--bored svg:hover .emo-bored-mouth {
    transform: scale(.7, 1.2);
}


/*----------  pain  ----------*/

.emoticons__item--pain svg:hover .emo-pain-eye--left {
    transform: scaleY(.8) translateY(-2px) rotate(5deg);
}

.emoticons__item--pain svg:hover .emo-pain-eye--right {
    transform: scaleY(.8) translateY(-2px) rotate(-5deg);
}

.emoticons__item--pain svg:hover .emo-pain-mouth {
    transform: scale(.7, 1.2);
}


/*----------  Media query  ----------*/

@media only screen and (max-width: 852px) {
    .choose-feeling__title {
        font-size: 5vw;
    }

    .choose-feeling__desc {
        font-size: 3.75vw;
    }

    .emoticons {
        width: 50vw;
    }
}

@media only screen and (max-width: 500px) {

    .choose-feeling__title {
        font-size: 6vw;
    }

    .choose-feeling__desc {
        font-size: 4.5vw;
    }

    .emoticons {
        width: 60vw;
        margin-left: auto;
        margin-right: auto;
    }
}