.box {

    background: rgba(38, 96, 100, 0.5);
    border-radius: 10px;

}

.form {
    width: 72%;
    margin: 0 auto;
    padding-top: 67px;
}

.box-content {
    /* fixed : noi dung luon2 o tren trang web;
        relative : noi dung phang#dad;
        absolute : noi dung son de len dad;
     */
    height: 244px;
    resize: none;
}

.box-author {
    margin-top: 28px;
   display: inline-block;
    height: 57px;

}

.box-submit {
    margin-top: 32px;
    width: 114px;
    height: 57px;
}

.txt {
    width: 100%;
    background: rgba(38, 96, 100, 0);
    border: none;
    font-size: 3vw;
    color: white;
    height: 100%;

}

.txt::placeholder {
    color: white;
    font-style: italic;
    text-shadow: 1px 3px 6px rgba(0,0,0,.8);
}

.txt-content {
    padding-top: 18px;
    padding-left: 25px;
    font-family: 'avenir', sans-serif;
}

.txt-content::placeholder {
    font-family: inherit;
    font-style: italic;
    font-size: 2.5vw;
    text-shadow: 1px 3px 6px rgba(0,0,0,.8);
}

.txt:focus {
    outline: none;
}

.txt-author {
    padding: 0 24px;
    font-style: italic;
    font-size: 2vw;
    width: auto;
}

.btn-submit {
    cursor: pointer;
    font-size: 2vw;
    text-shadow: 1px 3px 6px rgba(0,0,0,.8);
    transition: transform .2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.btn-submit:active {
    transform: translateY(2px);
}
:invalid {
    box-shadow: none;
}

@media only screen and (max-width: 616px) {
    ::placeholder {
        font-size: 3vw;
    }
    .txt-content::placeholder {
        font-size: 3vw;
    }
    .btn-submit {
        font-size: 3vw;
    }
}