.box {
   
    background: rgba(38, 96, 100, 0.5);
    border-radius: 10px;
}

.form {
    width: 72%;
    margin: 0 auto;
    padding-top: 67px;
}

.box-content {
    /* fixed : noi dung luon2 o tren trang web;
        relative : noi dung phang#dad;
        absolute : noi dung son de len dad;
     */
   
   
    height: 244px;

}

.box-author {
    margin-top: 28px;
    width: 50%;
    height: 57px;

}

.box-submit {
    margin-top: 32px;
    width: 114px;
    height: 57px;
}

.txt {
    width: 100%;
    background: rgba(38, 96, 100, 0);
    border: none;
    font-size: 3vw;
    color: white;
    height: 100%;

}

::-webkit-input-placeholder {
    color: white;

    font-style: italic;
}

.txt-content {
    padding-top: 18px;
    padding-left: 25px;
    font-family: 'avenir', sans-serif;
}

.txt-content::placeholder {
    font-family: inherit;
    font-style: italic;
}
.txt:focus {
    outline: none;

}

.txt-author {
    padding: 11px 24px 7px;
    font-style: italic;
    font-size: 2vw;
}

.btn-submit {
    cursor: pointer;
    font-size: 2vw;
}
