.page-wrapper-thankyou {
    background-image: url('../static/imgs/thankyou-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;    
    height: 100vh;
    color: #ffffff;
 }

.thank-box {
    text-align: center;
}

#thank-you {
    font-weight: 500;
    display: inline-block;
    margin: 0 auto;
    font-size: 7.5vw;
    margin-top: 110px;   
    line-height: 150%;
    border-radius: 5px;
    background-color: rgba(38, 96, 100, 0.5);
    padding: 0 20px;
}

#because_of_you {
    margin-top: 39px;
    display: block;
    font-weight: 300;
    font-size: 2.5vw;
    font-style: italic;
    margin-top: 30px;
    line-height: 150%;
    background-color: rgba(38, 96, 100, 0.5);
    padding: 0 20px;
    /* top: 45%;
    left: 20%;
    right: 20%; */
}

.flex {
    left: 20%;
    right: 20%;
}


