<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/get_message.css">
    <title>Document</title>
</head>

<body>
    <div class="page-wrapper">
        <!-- header -->
        <header class="page-header">
            <nav class="main-nav">
                <ul class="main-nav__list">
                    <li class="main-nav__item"><a href="" class="main-nav__link">Home</a></li>
                    <li class="main-nav__item"><a href="" class="main-nav__link">Today Quote</a></li>
                    <li class="main-nav__item"><a href="" class="main-nav__link">Stranger's Message</a></li>
                    <li class="main-nav__item"><a href="" class="main-nav__link">Send Message</a></li>
                </ul>
            </nav>            
        </header>
        <!-- main content -->
        <main class="main-content">
            <div class="quote" >
                <p class="quote-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni temporibus quisquam Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, quasi Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil earum, voluptatem iusto esse itaque neque facilis obcaecati, dolorem voluptate nemo aut dolor doloremque, recusandae quas soluta officiis fuga natus Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo cumque, eligendi provident delectus veritatis. Earum culpa, nisi praesentium dignissimos harum, ad at sint ut perferendis fugiat pariatur natus autem rerum.</p>
                <span class="quote-author">Quinn</span>
            </div>
        </main>
        <!-- footer -->
        <footer class="page-footer">
            <h2 class="page-footer__title">Today inspiration</h2>
        </footer>
    </div>
</body>

</html>