<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/send.css">
    <title>Document</title>
</head>

<body>
    <div class="page-wrapper" style="background-image: url('../static/imgs/send_message_wallpaper.jpeg')" >
        <!-- header -->
        <header class="page-header">
            <nav class="main-nav">
                <ul class="main-nav__list">
                        <li class="main-nav__item"><a href="/" class="main-nav__link">Home</a></li>
                        <li class="main-nav__item"><a href="/today_quote/random" class="main-nav__link">Today Quote</a></li>
                        <li class="main-nav__item"><a href="/get_message" class="main-nav__link">Stranger's Message</a></li>
                        <li class="main-nav__item"><a href="/send_message" class="main-nav__link">Send Message</a></li>
                </ul>
            </nav>
        </header>
        <!-- main content -->
        <main class="main-content">
            <form action="" method="post" accept-charset="utf-8" class="form">


                <div class="box box-content">
                    <textarea name="content" class="txt txt-content" required placeholder="Nice words for someone ..."></textarea> 
                </div>
                <div class="box box-author">
                    <input type="text" name="author" size="35" class="txt txt-author" required placeholder="Let someone know your name">
                </div>
                <div class="box box-submit">
                    <button class="txt btn-submit" type="submit">Send</button>  
                    <!-- submit day du lieu vao action="....html" -->
                </div>
            </form>
        </main>
        <!-- footer -->
        <footer class="page-footer">
            <h2 class="page-footer__title">Today inspiration</h2>
        </footer>
    </div>
</body>

</html>