<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/today_quote.css">
    <title>Today Quote</title>
</head>

<body>
    <div class="page-wrapper" style="background-image: linear-gradient(120deg, rgba(179, 139, 233, 0.3) 0%,  rgba(48, 161, 196, 0.4) 70%),url({{imgUrl}})">
        <!-- header -->
       
        <header class="page-header">
            <nav class="main-nav">
                <ul class="main-nav__list">
                        <li class="main-nav__item"><a href="/" class="main-nav__link">Home</a></li>
                        <li class="main-nav__item"><a href="/today_quote/random" class="main-nav__link">Today Quote</a></li>
                        <li class="main-nav__item"><a href="/get_message" class="main-nav__link">Stranger's Message</a></li>
                        <li class="main-nav__item"><a href="/send_message" class="main-nav__link">Send Message</a></li>
                </ul>
            </nav>
        </header>
        <!-- main content -->
        <main class="main-content">
          <div class="quote">
              <p class="quote-content">
                  {{content}}
              </p>
              <span class="quote-author">
                  {{ author }}
              </span>
          </div>
          <div class="button">
              <a href="/get_message" title="read message from stranger">
                    <svg  viewBox="0 0 50 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M45.9693 35.5459H4.0307C1.80898 35.5459 0 33.7386 0 31.5152V4.0307C0 1.80737 1.80898 0 4.0307 0H45.9693C48.191 0 50 1.80737 50 4.0307V31.5152C50 33.7386 48.191 35.5459 45.9693 35.5459ZM4.0307 1.61228C2.69734 1.61228 1.61228 2.69734 1.61228 4.0307V31.5152C1.61228 32.8486 2.69734 33.9336 4.0307 33.9336H45.9693C47.3027 33.9336 48.3877 32.8486 48.3877 31.5152V4.0307C48.3877 2.69734 47.3027 1.61228 45.9693 1.61228H4.0307Z" fill="white"/>
                        <path d="M25.0001 21.8238C23.928 21.8238 22.8558 21.4675 22.04 20.7565L1.43667 2.80053C1.10131 2.5071 1.06584 1.99923 1.35928 1.66388C1.65271 1.3253 2.16219 1.29305 2.49755 1.58487L23.0992 19.5408C24.1311 20.4389 25.8724 20.4373 26.901 19.5408L47.4979 1.58649C47.8316 1.29144 48.3395 1.3253 48.6361 1.66549C48.9296 2.00084 48.8941 2.50871 48.5588 2.80214L27.9603 20.7549C27.1445 21.4675 26.0723 21.8238 25.0001 21.8238Z" fill="white"/>
                       
                    </svg>                        
              </a>
          </div>
        </main>
        <!-- footer -->
        <footer class="page-footer">
            <h2 class="page-footer__title">Today inspiration</h2>
        </footer>
    </div>
</body>

</html>